# Path to your Obsidian vault directory
OBSIDIAN_VAULT_PATH="C:\path\to\your\obsidian\vault"

# Path to your Zotero sqlite database
ZOTERO_DB_PATH="C:\Users\Username\Zotero\zotero.sqlite"

# Path to your Zotero storage directory (where PDFs are kept)
ZOTERO_STORAGE_PATH="C:\Users\Username\Zotero\storage"
